<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>springBoot+vue</title>
  <!-- 참조링크 : https://hello-bryan.tistory.com/411?category=830632 -->
 </head>

<script src="/js/vue.3.2.45.prod.js"></script>
<script src="/js/gcsVue.js"></script>
<!--script src="https://unpkg.com/vue@3"></script --><!-- 최신버전확인 -->

<body id="body">
<div id="app">
    <ul>
        <li v-for="(item, i) in students" :key="i">
            {{ item.name }} ({{ item.age }})
        </li>
    </ul>

    <ul>
        <li v-for="id in [1, 2 ,3]" :key="id">{{ id }}</li>
    </ul>
    
    <form method="post" action="/serv/123?postVal=test">
    <input type="text" name="postVal1"><br>
    <input type="submit"><br>
    <button type="button" v-on:click="cSubmit">submit 전송</button><br>
    </form>

</div>
</body>  

<script>
	gcsVue.data={
                students: [
                    {
                        name : 'Kim',
                        age: 18,
                    },
                    {
                        name: 'Oh',
                        age: 19
                    },
                    {
                        name: 'Park',
                        age: 19
                    }
                ]
            };
    var app = Vue.createApp({
        data() { return gcsVue.data; },
		watch: {
			result(newResult, oldResult){
				console.log(newResult);
				console.log(oldResult);
				alert(888);
			}
		},
        methods: {
			cSubmit:function(){
				alert(1);
				gcsVue.methods.getDataGET('https://api.github.com/users/hadley/orgs');
				alert(2);
				
				//console.log(gcsVue.data.result);
			}
			
		}
    }).mount('#app');
    /*gcsVue.methods.getDataGET('https://api.github.com/users/hadley/orgs',function(){
		
		console.log(gcsVue.data.result);
	});*/
</script>

</html>
